<%- include("navbar.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center text-center gradient-background heading">
            <h3 class="text-dark" style="font-weight: 600;">Update About Information</h3>
        </div>
    </div>
    <div class="row mt-5">
        <form action="/admin/update_about_info" method="post" class="m-4" enctype="multipart/form-data">
            <div class="row">
               
                <div class="col-md-12">
                    Enter About Info
                    <textarea class="form-control" rows="5" required name="about_info"><%=about_info.about_info%></textarea>
                </div>
                          
                <div class="col-md-12 d-flex justify-content-center mt-4">
                    <button class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-success table-striped table-bordered mt-4">
    <tr>
        <th>SrNO</th>
        <th>About Information</th>
        
    </tr>
    <tr>
      <td>1.</td>
      <td><%=about_info.about_info%></td>
    
  </tr></table>

<%- include("footer.ejs") %>
