<%-include("navbar.ejs")%>

<style>
    .gradient-bg {
      background-image: linear-gradient(to right, blue,darkblue, white);
      color: white;
      text-align: center;
      border-radius: 5px;
    }
  </style>
<div class="container">
    <div class="row  text-warning" >
      <h1 class="d-flex justify-content-center gradient-bg p-0" style="background-image: linear-gradient(70% blue, 30% darkblue , 40% white);">Show All Students List</h1>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered table-success ">
            <tr>
                <th>SrNO</th>
                <th>Student Details</th>
                <th>Name</th>
                <th>phone</th>
                <th>Email</th>
                <th>Class</th>
                <th>Address</th>
                <th>Image</th>
                <th>Sigature</th>
            </tr>
            <tr>
                <td>1</td>
                <td style="width: 10%;" >
                    <a href="/student_details" class="btn btn-success p-1 ;"><i class="fa-solid fa-circle-info text-white"></i></a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

               
            </tr>
        </table>
    </div>


</div>


<%-include("footer.ejs")%>