<%-include("navbar.ejs")%>
   


    <section class="about-section pb-0 pt-0">
        <div class="container-fluid bg-light p-5">
            <div class="row">
                <div class="col-md-12 text-center pb-4 mb-5">
                    <h2 class="text- " style="color: #2446A2;">Principal Message</h2>
                    <div class="borbtm2"></div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2 mt-5 mt-md-0">
                    <div class="inner-column">
                        <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque commodi
                            exercitationem vero quo veritatis et. Totam repellat molestiae autem veritatis. Reiciendis
                            nesciunt optio quis, blanditiis numquam ex magnam praesentium? Veritatis.</div>
                        <div class="text">
                            We are here to serve you next level tutorial that currently in trend to match you with your
                            expertise. Css3 transition is a learning website. where you can find many good quality
                            content related to web development and tutorials about plugins. here we are using html,

                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis sequi placeat id delectus
                            nobis ab hic esse quae vitae? Quod quae error autem atque eveniet!
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                        </div>
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 mb-md-0">
                    <div class="inner-column wow fadeInLeft">
                        <div class="author-desc">
                            <h2>Prof.V.D.Kale</h2>
                            <span>PRINCIPAL</span>
                        </div>
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                    title="Rahul Kumar Yadav" src="https://acfa.apeejay.edu/images/acfaprincipal.jpg"
                                    alt=""></a></figure>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="mt-5 pt-3">
        <div class="container shadow p-4 mb-5">
            <div class="row">
                <div class="col-md-12 text-center pb-4">
                    <h2 class="text- " style="color: #2446A2;">About Us</h2>
                    <div class="borbtm4"></div>
                </div>
                <div class="col-md-12 text-center ">
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum beatae dolore
                        pariatur consequuntur veniam reprehenderit perspiciatis, sit praesentium est deleniti fuga
                        itaque, voluptates debitis non repellat, distinctio amet numquam hic. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Iure voluptatum corrupti magnam aliquid voluptatem odit,
                        repellat, rem necessitatibus neque odio, suscipit perspiciatis optio. Iure laudantium excepturi
                        tenetur odio distinctio deleniti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                        consectetur laboriosam ut, totam, iure dolorem voluptatem.</p>
                </div>
                <div class="col-md-12 text-start pt-2">
                    <a href="#"> <button class="btn btn-outline-primary  btn-sm">Read More</button></a>
                </div>
            </div>
        </div>
    </section>



    <section class="pt-4 mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center pb-4">
                    <h2 class="text- " style="color: #2446A2;">Notice Board</h2>
                    <div class="borbtm1"></div>
                </div>
                <div class="col-md-3 plmedia mt-4 mt-md-0" data-aos="fade-up" data-aos-duration="3000">
                    <div class="card w-100">
                        <a class="card1 " href="#">
                            <p class="cardp1">HOUSE CULTURAL COMPETITION</p>
                            <p class="small mt-2">Lorem ipsum dolor sit amet, Itaque quibusdam rerum eveniet adipisci
                                saepe blanditiis?</p>
                            <button class="btn mt-1 btn-outline-warning btn-sm hobtnwhite">Read More</button>
                            <div class="hr mt-4"></div>
                            <div class="go-corner" href="#">
                                <div class="go-arrow">
                                    →
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 plmedia mt-4 mt-md-0" data-aos="fade-down" data-aos-duration="3000">
                    <div class="card w-100">
                        <a class="card1 " href="#">
                            <p class="cardp1">HOUSE CULTURAL COMPETITION</p>
                            <p class="small mt-2">Lorem ipsum dolor sit amet, Itaque quibusdam rerum eveniet adipisci
                                saepe blanditiis?</p>
                            <button class="btn mt-1 btn-outline-warning btn-sm hobtnwhite">Read More</button>
                            <div class="hr mt-4"></div>
                            <div class="go-corner" href="#">
                                <div class="go-arrow">
                                    →
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 plmedia mt-4 mt-md-0" data-aos="fade-up" data-aos-duration="3000">
                    <div class="card w-100">
                        <a class="card1 " href="#">
                            <p class="cardp1">HOUSE CULTURAL COMPETITION</p>
                            <p class="small mt-2">Lorem ipsum dolor sit amet, Itaque quibusdam rerum eveniet adipisci
                                saepe blanditiis?</p>
                            <button class="btn mt-1 btn-outline-warning btn-sm hobtnwhite">Read More</button>
                            <div class="hr mt-4"></div>
                            <div class="go-corner" href="#">
                                <div class="go-arrow">
                                    →
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 plmedia mt-4 mt-md-0" data-aos="fade-down" data-aos-duration="3000">
                    <div class="card w-100">
                        <a class="card1 " href="#">
                            <p class="cardp1">HOUSE CULTURAL COMPETITION</p>
                            <p class="small mt-2">Lorem ipsum dolor sit amet, Itaque quibusdam rerum eveniet adipisci
                                saepe blanditiis?</p>
                            <button class="btn mt-1 btn-outline-warning btn-sm hobtnwhite">Read More</button>
                            <div class="hr mt-4"></div>
                            <div class="go-corner" href="#">
                                <div class="go-arrow">
                                    →
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section style="overflow-x: hidden;" class="mt-5">
        <div class="count-up p-0">
            <div class="wrapper">
                <i class="fas text- fa-users" style="color: #2446A2;"></i>
                <div class="counter" data-count="2050">0</div>
                <h6>Book Library</h6>
            </div>
            <div class="wrapper">
                <i class="fas text- fa-newspaper" style="color: #2446A2;"></i>
                <div class="counter" data-count="2105">0</div>
                <h6>Book Library</h6>
            </div>
            <div class="wrapper">
                <i class="fas text- fa-clock" style="color: #2446A2;"></i>
                <div class="counter" data-count="3200">0</div>
                <h6>Book Library</h6>
            </div>
            <div class="wrapper">
                <i class="fas text- fa-clock" style="color: #2446A2;"></i>
                <div class="counter" data-count="3200">0</div>
                <h6>Book Library</h6>
            </div>
            <div class="wrapper">
                <i class="fas text- fa-users" style="color: #2446A2;"></i>
                <div class="counter" data-count="2050">0</div>
                <h6>Book Library</h6>
            </div>
            <div class="wrapper">
                <i class="fas text- fa-newspaper" style="color: #2446A2;"></i>
                <div class="counter" data-count="2105">0</div>
                <h6>Book Library</h6>
            </div>

    </section>

    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pb-4">
                    <h2 class="text- " style="color: #2446A2;">Recent Events</h2>
                    <div class="borbtm"></div>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-duration="2000">
                    <figure class="snip">
                        <img class="snip__image"
                            src="https://cdn.cdnparenting.com/articles/2018/05/629638268-H-1024x700.webp" alt="card" />
                        <figcaption class="snip__figcaption">
                            <h3 class="snip__title">SCIENCE PROJECTS</h3>
                            <a class="snip__text" href="#">
                                <button class="btn btn-outline-warning mt-3">Read More</button>
                            </a>
                        </figcaption>
                        <a class="snip__link" href="#"></a>
                    </figure>
                </div>
                <div class="col-md-3" data-aos="fade-down" data-aos-duration="2000">
                    <figure class="snip">
                        <img class="snip__image"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS65oqrUcnmxDFrtCPZP6UQUIyFlJWZ2nWndg&s"
                            alt="card" />
                        <figcaption class="snip__figcaption">
                            <h3 class="snip__title">SPORT DAYS</h3>
                            <a class="snip__text" href="#">
                                <button class="btn btn-outline-warning mt-3">Read More</button>
                            </a>
                        </figcaption>
                        <a class="snip__link" href="#"></a>
                    </figure>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-duration="2000">
                    <figure class="snip">
                        <img class="snip__image"
                            src="https://assets.telegraphindia.com/telegraph/2022/Aug/1660731123_whatsapp-image-2022-08-17-at-10-41-54-am-2.jpg"
                            alt="card" />
                        <figcaption class="snip__figcaption">
                            <h3 class="snip__title">REPUBLIC DAY</h3>
                            <a class="snip__text" href="#">
                                <button class="btn btn-outline-warning mt-3">Read More</button>
                            </a>
                        </figcaption>
                        <a class="snip__link" href="#"></a>
                    </figure>
                </div>
                <div class="col-md-3" data-aos="fade-down" data-aos-duration="2000">
                    <figure class="snip">
                        <img class="snip__image"
                            src="https://assets.telegraphindia.com/telegraph/2022/Aug/1660731123_whatsapp-image-2022-08-17-at-10-41-54-am-2.jpg"
                            alt="card" />
                        <figcaption class="snip__figcaption">
                            <h3 class="snip__title">ANNUAL DAY</h3>
                            <a class="snip__text" href="#">
                                <button class="btn btn-outline-warning mt-3">Read More</button>
                            </a>
                        </figcaption>
                        <a class="snip__link" href="#"></a>
                    </figure>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img
                                    src="https://media.istockphoto.com/id/1336832660/photo/male-teenage-student-in-yellow-background-stock-photo.jpg?s=170667a&w=0&k=20&c=fCWYbjgy9ZFb2Fi5xf6UliSS737jr9-diACw3REtCrk=">
                            </div>
                            <h3 class="testimonial-title mb-4 mt-2">
                                <a href="#">Name</a>
                                <small>- Roshan Kale</small>
                            </h3>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                    laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque
                                    eu!
                                </p>
                            </div>

                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img
                                    src="https://img.freepik.com/premium-photo/teenager-student-girl-yellow-pointing-finger-side_1368-40175.jpg">
                            </div>
                            <h3 class="testimonial-title mb-4 mt-2">
                                <a href="#">Name</a>
                                <small>- Mohini Raut</small>
                            </h3>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                    laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque eu
                                </p>
                            </div>

                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img
                                    src="https://media.istockphoto.com/id/1438437093/ro/fotografie/t%C3%A2n%C4%83r%C4%83-femeie-adult%C4%83-%C3%AEn-fotografii-de-studio-care-face-expresii-faciale-%C8%99i-folosind.jpg?s=612x612&w=0&k=20&c=ldJQ_DhW2MTky6cscB5FlaD5p0QxAdmFqSIQccT9nPw=">
                            </div>
                            <h3 class="testimonial-title mb-4 mt-2">
                                <a href="#">Name</a>
                                <small>- Shravni Mule</small>
                            </h3>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eum excepturi incidunt
                                    laudantium nesciunt omnis, provident repudiandae rerum sed! Amet blanditiis eaque
                                    eum
                                    odit repellendus!
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                    <!-- icard -->
    <section>
        <div class="icard">
            <div class="container22">
                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img src="https://media.istockphoto.com/id/1289489554/photo/young-indian-female-school-teacher-or-college-professor.jpg?s=612x612&w=0&k=20&c=7RQiM84lpuCfn5FbtSIqqeUSs7DWY7uValJvtwLojbs=">
                    </div>
                    <div class="content">
                        <h2>Dr. R.J.Kale</h2>
                        <h5 class="fw-bold">Msc(Chemistry)</h5>
                        <h5 class="fw-bold">ID 547211 </h5>
                        <h5 class="fw-bold">+91 8694756395 </h5>
                        <h5 class="fw-bold">abcd@gmail.com </h5>
                        
                    </div>
                </div>
                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img src="https://media.istockphoto.com/id/1289489554/photo/young-indian-female-school-teacher-or-college-professor.jpg?s=612x612&w=0&k=20&c=7RQiM84lpuCfn5FbtSIqqeUSs7DWY7uValJvtwLojbs=">
                    </div>
                    <div class="content">
                        <h2>Dr. R.J.Kale</h2>
                        <h5 class="fw-bold">Msc(Chemistry)</h5>
                        <h5 class="fw-bold">ID 547211 </h5>
                        <h5 class="fw-bold">+91 8694756395 </h5>
                        <h5 class="fw-bold">abcd@gmail.com </h5>
                    </div>
                </div>
                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img src="https://media.istockphoto.com/id/1289489554/photo/young-indian-female-school-teacher-or-college-professor.jpg?s=612x612&w=0&k=20&c=7RQiM84lpuCfn5FbtSIqqeUSs7DWY7uValJvtwLojbs=">
                    </div>
                    <div class="content">
                        <h2>Dr. R.J.Kale</h2>
                        <h5 class="fw-bold">Msc(Chemistry)</h5>
                        <h5 class="fw-bold">ID 547211 </h5>
                        <h5 class="fw-bold">+91 8694756395 </h5>
                        <h5 class="fw-bold">abcd@gmail.com </h5>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </section>




    <script src="user/about.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>

<%-include("footer.ejs")%>

