<%-include("navbar.ejs")%>

<!-- top ranked student -->
<section class="pb-4">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-12 text-center mb-md-5 bgrank ">
                <h2 class="rankedtitle mb-5">TOP RANKED STUDENTS</h2>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5" >
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cardmarg">
                <div class="container3 ">
                    <div class="shape1">
                        <div class="image1">
                            <img src="https://www.avanse.com/viewPagesAssets/img/userAddedBannerImages/cross-sell-top.png" style="height: 100%; width: 100%;border-radius: 50%;">
                        </div>
                    </div>
                    <h3 class="h31">Rohit Dighe</h3>
                    <h3 class="title1 mt-3">10<sup>th</sup></h3>
                    <p class="p1 mt-2">99.99%</p>
                    <div class="icons1">
                        <i class="fa fa-facebook " aria-hidden="true"></i>
                        <i class="fa fa-instagram " aria-hidden="true"></i>
                        <i class="fa fa-pinterest-p " aria-hidden="true"></i>
                        <i class="fa fa-twitter " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include("footer.ejs")%>