<%-include("navbar.ejs")%>
    <section>

        <div class="herohead mt-3">
            <h1>News / Events</h1>
        </div>

    <div class="container containerN">

        <div class="card" style="color: #009688;">
            <div class="imgbx ms-4">
                <img src="user/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h2>Thinking Based Learning</h2>
                <br>
                <p>How to Choose the Right Stream after 10th Board Exam Results.
                    After your 10th Board Exams, choosing the appropriate stream has lorem oor lorem.</p>
                <a href="/thinking_based_learnin" id="read-more">Read More</a>
            </div>
        </div>

        <div class="card" style="color: #ff3e7f;">
            <div class="imgbx ms-4">
                <img src="user/images/c2.jpg" alt="">
            </div>
            <div class="content">
                <h2>Choose the Right Stream</h2>
                <br>
                <p>How to Choose the Right Stream after 10th Board Exam Results.
                    After your 10th Board Exams, choosing the appropriate stream has lorem oor lorem.</p>
                <a href="/choose_the_right_stream" id="read-more" class="mb-5">Read More</a>
            </div>
        </div>

        <div class="card" style="color: #03a9f4;">
            <div class="imgbx ms-4">
                <img src="user/images/c3.jpg" alt="">
            </div>
            <div class="content">
                <h2>Design-Based Learning</h2>
                <br>
                <p>How to Choose the Right Stream after 10th Board Exam Results.
                    After your 10th Board Exams, choosing the appropriate stream has lorem oor lorem.</p>
                <a href="/digital_based" id="read-more">Read More</a>
            </div>
        </div>

        <!--New CArds-->

        <div class="card" style="color: #03a9f4;">
            <div class="imgbx ms-4">
                <img src="user/images/c4.jpg" alt="">
            </div>
            <div class="content">
                <h2>Gamification in Learning</h2>
                <br>
                <p>How to Choose the Right Stream after 10th Board Exam Results.
                    After your 10th Board Exams, choosing the appropriate stream has lorem oor lorem.</p>
                <a href="/gamification" id="read-more">Read More</a>
            </div>
        </div>

        <div class="card" style="color: #ff3e7f;">
            <div class="imgbx ms-4">
                <img src="user/images/c5.jpg" alt="">
            </div>
            <div class="content">
                <h2>Tips & Practises</h2>
                <br>
                <p>Tips & Practises For Parents On Self-Disciplining Children.</p>
                <a href="/tipspractices" id="read-more">Read More</a>
            </div>
        </div>

        <div class="card" style="color: #009688;">
            <div class="imgbx ms-4">
                <img src="user/images/c6.jpg" alt="">
            </div>
            <div class="content">
                <h2>Problem-Based Learning</h2>
                <br>
                <p>How to Choose the Right Stream after 10th Board Exam Results.
                    After your 10th Board Exams, choosing the appropriate stream has lorem oor lorem.</p>
                <a href="/practicebased" id="read-more">Read More</a>
            </div>
        </div>

    </div>
</section>
<%-include("footer.ejs")%>