<%-include("navbar.ejs")%>
<!--HEADING-->

<section>
    <div class="title-heading">
        <h1 style="text-align: center;">Tips & Practises</h1>
    </div>
</section>

<!--IMAGE-->

<section>
    <div class="image">
        <img src="user/images/tap.jpg" alt="">
    </div>
</section>

<!--HEADING-->

<section>
    <div class="contentt">
        <h1>Tips & Practises For Parents On Self-Disciplining Children</h1>
    </div>
</section>

<!--CONTENT-->

<section>
    <div class="cont">
        <h2>Introduction :</h2>
                            <p>
                                The case M. a six – year old boy, was brought to me for consultation by his parents. He was 
                                reported to be excessively disobedient, ride, defiant and provocative. He showed excessive 
                                aggression, getting physical too often with his younger sister aged six and breaking useful 
                                objects like clocks or TV-remote when angry. The history revealed that theirs was an extended 
                                family, with M’s grandparents staying with them. The mother was too passive and ineffective, the 
                                father being too harsh, irrational and frequently beating up the child. The grandparents were too
                                permissive and often used to fulfill M’s material wishes denied by his parents. It was quite 
                                apparent that the undesirable family dynamics were responsible for M’s behavioral problems in a 
                                large way. It needed several sessions of ‘family therapy’ i.e. counseling the entire family – 
                                together and individually, to bring about partial improvement in M’s and his family members 
                                behaviour.
                            </p>
        

        <h2>Parental Authority:</h2>
                    <p>
                        It should be-
                    </p>

        <h3>1.Consistent:</h3>  
                <p>
                    Rewarding a particular behaviour (may be covertly) at one time and punishing it at others 
                    leaves the child confused and insecure. Consistency should be both intra-personal in the 
                    same person’s behavior at different times) and interpersonal (e.g. between the two parents)
                </p>         

        <h3>2.Reasonable</h3>
                <p>
                    Don’t apply adult standards to the child. Try to look at things through the child’s point 
                    of view. He was never an adult – you were a child at some time. A child is more likely to 
                    misbehave if he is tired, bored, hungry or bullied. Be more flexible at such times.
                </p>

        <h3>3.Democratic</h3>        
                <p>
                    Don’t trample upon the child’s rights. Within reasonable boundaries let him choose his 
                    games, dresses, study hours, TV-watching time etc.
                </p>

        <h2>Some Good Punishments:</h2>

        <h3>1.Firm Disapproval:</h3>        
                <p>
                    My favourite one. Criticize the deed not the child. Say “Your act was bad” and not “you are bad”.
                </p>

        <h3>2.‘Time Out’:</h3>        
                <p>
                    For a child who is screaming or trying to gain attention through excessive crying or 
                    misbehavior, keep him in an isolated room for a few minutes (may be up to 10) till the 
                    crying reduces or stops. The ‘time-out room’ should be devoid of recreational or easily 
                    destructible objects.
                </p>

        <h3>3.Fining:</h3>
                <p>
                    Take away the child’s loved objects (e.g. A toy or a book or watching television) for some time.
                </p>

        <h3>4.Brief Restraint</h3>
                <p>
                    Physically hold a child in a restraining manner if he is physically aggressive. Don’t scold 
                    or make a fuss or even talk to the child during this-be firm and calm. If, on releasing him 
                    after a few seconds, he does it again, repeat the restraint. The repetition may have to be 
                    done 4 to 5 times in a row.
                </p>

    </div>
</section>
<%-include("footer.ejs")%>