<%-include("navbar.ejs")%>
<link rel="stylesheet" href="/profile.css"> <!-- Ensure correct path to CSS file -->
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <h1 class="d-flex justify-content-center text-success mb-3">My Profile</h1>
            <div class="image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary pbtn">
                    <% if (user.photos && user.photos[0]) { %>
                        <img src="<%= user.photos[0].value %>" height="100" width="100" />
                    <% } %>
                </button>
                <span class="name mt-3"><%= user.displayName %></span>
                <span class="idd">
                    <% if (user.emails && user.emails[0]) { %>
                        <%= user.emails[0].value %>
                    <% } else { %>
                        No email available
                    <% } %>
                </span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-3">
                    <span><i class="fa fa-copy"></i></span>
                       <a href="/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>