<%-include("navbar.ejs")%>

    <!-- Dashboard -->
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary" style="width: 100%; ">
        <!-- Vertical Navbar -->
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Main -->
            <main class="py-6 bg-surface-secondary bg-white ">
                <div class="container-fluid ">
                    <!-- Card stats -->
                    <div class="card shadow border-0 mb-7">
                        <div class="" style="height: 100%;width: 100%; background-color: rgba(0, 0, 0, 0.2);">
                            <div class="card-header text-center">
                                <marquee behavior="alternate" direction="">
                                    <h2 class="mb-0  text-white" style="letter-spacing: 6px;">1<sup>st</sup>STANDARD
                                        STUDENT TIMETABLE</h2>
                                </marquee>
                            </div>
                            <div class="table-responsive w-100">
                                <table class="table table-hover table-nowrap w-100 " style="width: 100%;">
                                    <thead class="w-100" style="width: 100%;">
                                        <tr style="width: 100%;">
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Day & Time
                                            </th>
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Monday
                                            </th>
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Tuesday
                                            </th>
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Wednesday
                                            </th>
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Thursday
                                            </th>
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Friday
                                            </th>
                                            <th scope="col" class=""
                                                style="font-size: 15px; text-align: center; color: white;width: 12.5%;">
                                                Saturday
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7" class="bg-warning text-center  color: white p-1">
                                                <h5 class="mb-0 text-dark"> ASSEMBLY TIME 7:30 AM - 8:00 AM</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                8:00 AM - 8:50 AM
                                            </td>
                                            <td class="h1 text-dark"
                                                style="font-size: 14px;text-align: center; color: white;">
                                                Marathi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Hindi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                English
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Math
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Science
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                IT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                8:50 AM - 9:40 AM
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Marathi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Hindi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                English
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Math
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Science
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                IT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="bg-warning text-center  color: white p-1">
                                                <h5 class="mb-0 text-dark">BREAK TIME 9:40 AM - 10:00 AM </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                10:00 AM - 10:50 AM
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Marathi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Hindi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                English
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Math
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Science
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                IT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                10:50 AM - 11:40 AM
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Marathi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Hindi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                English
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Math
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Science
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                IT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class=" text-center  color: white p-1" style="background-color:darkblue;">
                                                <h5 class="mb-0 text-white"> LUNCH TIME 11:40 AM - 12:20 PM</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                12:20 PM - 1:10 PM
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Marathi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Hindi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                English
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Math
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Science
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                IT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                1:10 PM - 2:00 PM
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Marathi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Hindi
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                English
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Math
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                Science
                                            </td>
                                            <td class="h1" style="font-size: 14px;text-align: center; color: white;">
                                                IT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="bg-warning text-center  color: white p-1">
                                                <h5 class="mb-0 text-dark">SCHOOL OVER 2:00 PM</h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%-include("footer.ejs")%>